<launch>

  <rosparam file="$(find dream_mobile_platform)/config/dream_resource_registry.yaml" command="load"/>
  <group ns="dream">
    <node pkg="dream_mobile_platform" type="pwm_led_manager.py" name="pwm_led_manager" output="screen"/>
    <node pkg="dream_mobile_platform" type="motor_encoder.py" name="encoder_reader" output="screen"/>
    <node pkg="dream_mobile_platform" type="motor_driver.py" name="motor_driver" output="screen"/>
    <node pkg="dream_mobile_platform" type="cmd_vel_to_motor_commands.py" name="cmd_vel_to_motor_commands" output="screen"/>
</group>

</launch>
